@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --header-height: 5rem; /* 80px */
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --header-height: 5rem; /* 80px */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-one-shinhan);
}

html {
  scroll-behavior: smooth;
}
